body {
    background-color: #efefef !important;
}

.MuiTableHead-root {
    background-color: #efefef;
}

th.MuiTableCell-head {
    font-weight: 700 !important;
    color: #ffffff;
    background-color: #36383a;
}

.MuiTableRow-root:nth-child(even) {
    background-color: #efefef;
}